<?xml version="1.0" encoding="utf-8" ?>
	<configuration>
	    <startup> 
	        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	    </startup>
	
	  <appSettings>
	    
	    <add key="name" value="Kathleen Sheltra" />
	    <add key="age" value="88262" />
	  </appSettings>
	</configuration>
